always-auth=true
auto-install-peers=false
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=1894A31A-B591-4DCB-BE59-688CB2FDF1B8
//npm.pkg.github.com/:_authToken=${GH_PACKAGE_READ_TOKEN}
@mathis-global:registry=https://npm.pkg.github.com/
@handle-fi:registry=https://npm.pkg.github.com
registry=https://registry.npmjs.org
