.caption {
  font-size: 0.75rem;
}

.smaller {
  font-size: 1rem;
}

.barWrapper {
  height: 1.75rem;
  display: flex;
  width: 100%;
  align-items: center;
  :global(.uk-tooltip-content):after {
    display: none;
  }
}

.outerBar {
  height: 1rem;
  width: 100%;
  overflow: hidden;
}

.innerBar {
  height: 100% !important;
}

.reduced {
  font-size: 0.675rem;
}

[id^="tradeAccountLiquidationRiskTile"] {
  .caption {
    :global(.uk-tooltip-content):after {
      bottom: 0;
      width: 100px;
    }
  }
}
