.desktopWrapper {
  margin-right: 24px;
}

.greaterThanEqualIcon {
  margin-right: 12px;
}

.inputOpen {
  margin-right: -13px;
}

.inputClosed {
  margin-right: 0;
}

.thresholdInput {
  text-align: right;
  padding-right: 45.5px !important;
  height: 36px !important;
}
