.message {
  display: flex;
  padding: 4px 0;
}

.messageImage {
  width: 20px;
}

.imageWrapper {
  width: 30px;
  text-align: center;
  img {
    border-radius: 50%;
  }
}

.contentWrapper {
  flex: 1;
  padding-right: 12px;
}

.author {
  font-weight: bold;
}

.identicon {
  width: auto !important;
  height: 16px !important;
  border: var(--app-border-thin-xx-light-primary-color);
}
