.version {
  font-size: 0.75rem;
  margin-top: 4px;
}

.tiprButton {
  margin-right: 2rem !important;
}

.networkDropdown {
  width: 110px !important;
  border: 1px solid var(--app-primary-color-qtr-opacity) !important;
}

.powerTileButton {
  position: relative;
}
