.modal {
  width: 800px !important;
}

.modalTitle {
  margin-top: -4px !important;
}

.hlpLogo {
  margin-top: -2px !important;
}

.headerRow {
  margin: 0 -16px;
  padding: 0 12px;
  height: 34px;
  border-bottom: var(--app-border-thin-x-light-primary-color);
}

.row {
  margin: 0 -16px;
  padding: 0 12px;
  height: 36px;
  border-bottom: var(--app-border-thin-xx-light-primary-color);
  background-color: var(--app-primary-color-32nd-opacity);
}

.tokenColumn {
  max-width: 90px;
}

.aboveTarget {
  color: var(--app-warning-color);
}
