@use "handleXModern" as handleXModern;
@use "src/assets/styles/globals" as globals;

:export {
  primaryColor: handleXModern.$primary-color;
  upColor: handleXModern.$up-color;
  downColor: handleXModern.$down-color;
  backgroundColor: handleXModern.$background-color;
  hoverColor: handleXModern.$hover-color;
  errorColor: handleXModern.$error-color;
  orangeColor: handleXModern.$orange-color;
  warningColor: handleXModern.$warning-color;
  halfOpacityEquivalentColor: handleXModern.$half-opacity-equivalent-color;
  quarterOpacityEquivalentColor: handleXModern.$quarter-opacity-equivalent-color;
  eighthOpacityEquivalentColor: handleXModern.$eighth-opacity-equivalent-color;
  chartStyle: 1;
  chartBackgroundType: solid;
  chartBackgroundColor: handleXModern.$background-color;
  chartBackgroundStartColor: handleXModern.$background-color;
  chartBackgroundStopColor: handleXModern.$background-color;
  chartUpColor: handleXModern.$up-color;
  chartDownColor: handleXModern.$down-color;
  chartGridColor: handleXModern.$eighth-opacity-equivalent-color;
  chartGridStyle: 1;
  chartTextColor: handleXModern.$primary-color;
  font: globals.$font;
  homesteadColor: globals.$homestead-color;
  ropstenColor: globals.$ropsten-color;
  kovanColor: globals.$kovan-color;
  rinkebyColor: globals.$rinkeby-color;
  testnetColor: globals.$testnet-color;
  polygonColor: globals.$polygon-color;
  borderWidth: handleXModern.$border-width;
  borderRadius: handleXModern.$border-radius;
  tabBorderWidth: handleXModern.$tab-border-width;
  border: handleXModern.$border-width solid handleXModern.$primary-color;
  borderThin: 1px solid handleXModern.$primary-color;
  borderThinLight: 1px solid handleXModern.$half-opacity-equivalent-color;
  errorBorder: handleXModern.$border-width solid handleXModern.$error-color;
  warningBorder: handleXModern.$border-width solid handleXModern.$warning-color;
  yellowBorder: handleXModern.$border-width solid handleXModern.$warning-color;
  mobileMenuBreakpoint: globals.$mobile-menu-breakpoint;
  minLargeDesktopBreakpoint: globals.$large-desktop-breakpoint;
  maxLargeDesktopBreakpoint: globals.$large-desktop-breakpoint-max;
  minDesktopBreakpoint: globals.$desktop-breakpoint;
  maxDesktopBreakpoint: globals.$desktop-breakpoint-max;
  minTabletBreakpoint: globals.$tablet-breakpoint;
  maxTabletBreakpoint: globals.$tablet-breakpoint-max;
  minMobileBreakpoint: globals.$mobile-breakpoint;
  maxMobileBreakpoint: globals.$mobile-breakpoint-max;
  minSmallMobileBreakpoint: globals.$min-small-mobile-breakpoint;
  maxSmallMobileBreakpoint: globals.$max-small-mobile-breakpoint;
  maxAppWidth: globals.$max-app-width;
  taskbarIconSize: globals.$taskbar-icon-size;
  taskbarHandleIconSize: globals.$taskbar-handle-icon-size;
  minTradeChartBreakpoint: globals.$trade-chart-breakpoint;
  maxTradeChartBreakpoint: globals.$trade-chart-breakpoint - 1;
}
