@use "handlePro" as handlePro;
@use "src/assets/styles/globals" as globals;

:export {
  primaryColor: handlePro.$primary-color;
  upColor: handlePro.$up-color;
  downColor: handlePro.$down-color;
  backgroundColor: handlePro.$background-color;
  hoverColor: handlePro.$hover-color;
  errorColor: handlePro.$error-color;
  orangeColor: handlePro.$orange-color;
  warningColor: handlePro.$warning-color;
  halfOpacityEquivalentColor: handlePro.$half-opacity-equivalent-color;
  quarterOpacityEquivalentColor: handlePro.$quarter-opacity-equivalent-color;
  eighthOpacityEquivalentColor: handlePro.$eighth-opacity-equivalent-color;
  chartStyle: 1;
  chartBackgroundType: solid;
  chartBackgroundColor: handlePro.$background-color;
  chartBackgroundStartColor: handlePro.$background-color;
  chartBackgroundStopColor: handlePro.$background-color;
  chartUpColor: handlePro.$up-color;
  chartDownColor: handlePro.$down-color;
  chartGridColor: handlePro.$eighth-opacity-equivalent-color;
  chartGridStyle: 1;
  chartTextColor: handlePro.$primary-color;
  font: globals.$font;
  homesteadColor: globals.$homestead-color;
  ropstenColor: globals.$ropsten-color;
  kovanColor: globals.$kovan-color;
  rinkebyColor: globals.$rinkeby-color;
  testnetColor: globals.$testnet-color;
  polygonColor: globals.$polygon-color;
  borderWidth: handlePro.$border-width;
  borderRadius: handlePro.$border-radius;
  tabBorderWidth: handlePro.$tab-border-width;
  border: handlePro.$border-width solid handlePro.$primary-color;
  borderThin: 1px solid handlePro.$primary-color;
  borderThinLight: 1px solid handlePro.$half-opacity-equivalent-color;
  errorBorder: handlePro.$border-width solid handlePro.$error-color;
  warningBorder: handlePro.$border-width solid handlePro.$warning-color;
  yellowBorder: handlePro.$border-width solid handlePro.$warning-color;
  mobileMenuBreakpoint: globals.$mobile-menu-breakpoint;
  minLargeDesktopBreakpoint: globals.$large-desktop-breakpoint;
  maxLargeDesktopBreakpoint: globals.$large-desktop-breakpoint-max;
  minDesktopBreakpoint: globals.$desktop-breakpoint;
  maxDesktopBreakpoint: globals.$desktop-breakpoint-max;
  minTabletBreakpoint: globals.$tablet-breakpoint;
  maxTabletBreakpoint: globals.$tablet-breakpoint-max;
  minMobileBreakpoint: globals.$mobile-breakpoint;
  maxMobileBreakpoint: globals.$mobile-breakpoint-max;
  minSmallMobileBreakpoint: globals.$min-small-mobile-breakpoint;
  maxSmallMobileBreakpoint: globals.$max-small-mobile-breakpoint;
  maxAppWidth: globals.$max-app-width;
  taskbarIconSize: globals.$taskbar-icon-size;
  taskbarHandleIconSize: globals.$taskbar-handle-icon-size;
  minTradeChartBreakpoint: globals.$trade-chart-breakpoint;
  maxTradeChartBreakpoint: globals.$trade-chart-breakpoint - 1;
}
