@use "handleView" as handleView;
@use "src/assets/styles/globals" as globals;

:export {
  primaryColor: handleView.$primary-color;
  upColor: handleView.$up-color;
  downColor: handleView.$down-color;
  backgroundColor: handleView.$background-color;
  hoverColor: handleView.$hover-color;
  errorColor: handleView.$error-color;
  orangeColor: handleView.$orange-color;
  warningColor: handleView.$warning-color;
  halfOpacityEquivalentColor: handleView.$half-opacity-equivalent-color;
  quarterOpacityEquivalentColor: handleView.$quarter-opacity-equivalent-color;
  eighthOpacityEquivalentColor: handleView.$eighth-opacity-equivalent-color;
  chartStyle: 1;
  chartBackgroundColor: handleView.$background-color;
  chartBackgroundType: solid;
  chartBackgroundStartColor: handleView.$background-color;
  chartBackgroundStopColor: handleView.$background-color;
  chartUpColor: handleView.$up-color;
  chartDownColor: handleView.$down-color;
  chartGridColor: handleView.$eighth-opacity-equivalent-color;
  chartGridStyle: 1;
  chartTextColor: handleView.$primary-color;
  font: globals.$font;
  homesteadColor: globals.$homestead-color;
  ropstenColor: globals.$ropsten-color;
  kovanColor: globals.$kovan-color;
  rinkebyColor: globals.$rinkeby-color;
  testnetColor: globals.$testnet-color;
  polygonColor: globals.$polygon-color;
  borderWidth: handleView.$border-width;
  borderRadius: handleView.$border-radius;
  tabBorderWidth: handleView.$tab-border-width;
  border: handleView.$border-width solid handleView.$primary-color;
  borderThin: 1px solid handleView.$primary-color;
  borderThinLight: 1px solid handleView.$half-opacity-equivalent-color;
  errorBorder: handleView.$border-width solid handleView.$error-color;
  warningBorder: handleView.$border-width solid handleView.$warning-color;
  yellowBorder: handleView.$border-width solid handleView.$warning-color;
  mobileMenuBreakpoint: globals.$mobile-menu-breakpoint;
  minLargeDesktopBreakpoint: globals.$large-desktop-breakpoint;
  maxLargeDesktopBreakpoint: globals.$large-desktop-breakpoint-max;
  minDesktopBreakpoint: globals.$desktop-breakpoint;
  maxDesktopBreakpoint: globals.$desktop-breakpoint-max;
  minTabletBreakpoint: globals.$tablet-breakpoint;
  maxTabletBreakpoint: globals.$tablet-breakpoint-max;
  minMobileBreakpoint: globals.$mobile-breakpoint;
  maxMobileBreakpoint: globals.$mobile-breakpoint-max;
  minSmallMobileBreakpoint: globals.$min-small-mobile-breakpoint;
  maxSmallMobileBreakpoint: globals.$max-small-mobile-breakpoint;
  maxAppWidth: globals.$max-app-width;
  taskbarIconSize: globals.$taskbar-icon-size;
  taskbarHandleIconSize: globals.$taskbar-handle-icon-size;
  minTradeChartBreakpoint: globals.$trade-chart-breakpoint;
  maxTradeChartBreakpoint: globals.$trade-chart-breakpoint - 1;
}
