@use "handle" as handle;
@use "src/assets/styles/globals" as globals;

:export {
  primaryColor: handle.$primary-color;
  upColor: handle.$up-color;
  downColor: handle.$down-color;
  backgroundColor: handle.$background-color;
  hoverColor: handle.$hover-color;
  errorColor: handle.$error-color;
  orangeColor: handle.$orange-color;
  warningColor: handle.$warning-color;
  halfOpacityEquivalentColor: handle.$half-opacity-equivalent-color;
  quarterOpacityEquivalentColor: handle.$quarter-opacity-equivalent-color;
  eighthOpacityEquivalentColor: handle.$eighth-opacity-equivalent-color;
  chartStyle: 1;
  chartBackgroundType: solid;
  chartBackgroundColor: handle.$background-color;
  chartBackgroundStartColor: handle.$background-color;
  chartBackgroundStopColor: handle.$background-color;
  chartUpColor: handle.$up-color;
  chartDownColor: handle.$down-color;
  chartGridColor: handle.$eighth-opacity-equivalent-color;
  chartGridStyle: 1;
  chartTextColor: handle.$primary-color;
  font: globals.$font;
  homesteadColor: globals.$homestead-color;
  ropstenColor: globals.$ropsten-color;
  kovanColor: globals.$kovan-color;
  rinkebyColor: globals.$rinkeby-color;
  testnetColor: globals.$testnet-color;
  polygonColor: globals.$polygon-color;
  borderWidth: handle.$border-width;
  borderRadius: handle.$border-radius;
  tabBorderWidth: handle.$tab-border-width;
  border: handle.$border-width solid handle.$primary-color;
  borderThin: 1px solid handle.$primary-color;
  borderThinLight: 1px solid handle.$half-opacity-equivalent-color;
  errorBorder: handle.$border-width solid handle.$error-color;
  warningBorder: handle.$border-width solid handle.$warning-color;
  yellowBorder: handle.$border-width solid handle.$warning-color;
  mobileMenuBreakpoint: globals.$mobile-menu-breakpoint;
  minLargeDesktopBreakpoint: globals.$large-desktop-breakpoint;
  maxLargeDesktopBreakpoint: globals.$large-desktop-breakpoint-max;
  minDesktopBreakpoint: globals.$desktop-breakpoint;
  maxDesktopBreakpoint: globals.$desktop-breakpoint-max;
  minTabletBreakpoint: globals.$tablet-breakpoint;
  maxTabletBreakpoint: globals.$tablet-breakpoint-max;
  minMobileBreakpoint: globals.$mobile-breakpoint;
  maxMobileBreakpoint: globals.$mobile-breakpoint-max;
  minSmallMobileBreakpoint: globals.$min-small-mobile-breakpoint;
  maxSmallMobileBreakpoint: globals.$max-small-mobile-breakpoint;
  maxAppWidth: globals.$max-app-width;
  taskbarIconSize: globals.$taskbar-icon-size;
  taskbarHandleIconSize: globals.$taskbar-handle-icon-size;
  minTradeChartBreakpoint: globals.$trade-chart-breakpoint;
  maxTradeChartBreakpoint: globals.$trade-chart-breakpoint - 1;
}
