@use "handleBerg" as handleBerg;
@use "src/assets/styles/globals" as globals;

:export {
  primaryColor: handleBerg.$primary-color;
  upColor: handleBerg.$up-color;
  downColor: handleBerg.$down-color;
  backgroundColor: handleBerg.$background-color;
  hoverColor: handleBerg.$hover-color;
  errorColor: handleBerg.$error-color;
  orangeColor: handleBerg.$orange-color;
  warningColor: handleBerg.$warning-color;
  halfOpacityEquivalentColor: handleBerg.$half-opacity-equivalent-color;
  quarterOpacityEquivalentColor: handleBerg.$quarter-opacity-equivalent-color;
  eighthOpacityEquivalentColor: handleBerg.$eighth-opacity-equivalent-color;
  chartStyle: 0;
  chartBackgroundColor: #000000c0;
  chartBackgroundType: gradient;
  chartBackgroundStartColor: #2a313e;
  chartBackgroundStopColor: #000000;
  chartUpColor: #eeeeee;
  chartDownColor: #eeeeee;
  chartGridColor: #eeeeee40;
  chartGridStyle: 1;
  chartTextColor: #eeeeee;
  font: globals.$font;
  homesteadColor: globals.$homestead-color;
  ropstenColor: globals.$ropsten-color;
  kovanColor: globals.$kovan-color;
  rinkebyColor: globals.$rinkeby-color;
  testnetColor: globals.$testnet-color;
  polygonColor: globals.$polygon-color;
  borderWidth: handleBerg.$border-width;
  borderRadius: handleBerg.$border-radius;
  tabBorderWidth: handleBerg.$tab-border-width;
  border: handleBerg.$border-width solid handleBerg.$primary-color;
  borderThin: 1px solid handleBerg.$primary-color;
  borderThinLight: 1px solid handleBerg.$half-opacity-equivalent-color;
  errorBorder: handleBerg.$border-width solid handleBerg.$error-color;
  warningBorder: handleBerg.$border-width solid handleBerg.$warning-color;
  yellowBorder: handleBerg.$border-width solid handleBerg.$warning-color;
  mobileMenuBreakpoint: globals.$mobile-menu-breakpoint;
  minLargeDesktopBreakpoint: globals.$large-desktop-breakpoint;
  maxLargeDesktopBreakpoint: globals.$large-desktop-breakpoint-max;
  minDesktopBreakpoint: globals.$desktop-breakpoint;
  maxDesktopBreakpoint: globals.$desktop-breakpoint-max;
  minTabletBreakpoint: globals.$tablet-breakpoint;
  maxTabletBreakpoint: globals.$tablet-breakpoint-max;
  minMobileBreakpoint: globals.$mobile-breakpoint;
  maxMobileBreakpoint: globals.$mobile-breakpoint-max;
  minSmallMobileBreakpoint: globals.$min-small-mobile-breakpoint;
  maxSmallMobileBreakpoint: globals.$max-small-mobile-breakpoint;
  maxAppWidth: globals.$max-app-width;
  taskbarIconSize: globals.$taskbar-icon-size;
  taskbarHandleIconSize: globals.$taskbar-handle-icon-size;
  minTradeChartBreakpoint: globals.$trade-chart-breakpoint;
  maxTradeChartBreakpoint: globals.$trade-chart-breakpoint - 1;
}
