.marketPairSymbols {
  margin-top: -3px;
}

.maxLeverage {
  position: relative;
  z-index: 1;
  margin: -1px 0 0 8px;
  font-size: 0.675rem;
  padding: 0 4px;
  height: 15px;
  color: var(--app-theme-leverage-color);
  background-color: var(--app-background-color);
  border: var(--app-border-width) solid var(--app-theme-leverage-color);
  border-radius: calc(var(--app-border-radius) * 0.5);
}
