#header {
  padding: 0 16px;
  z-index: 981;
}

svg.mm-logo {
  .cls-1 {
    fill: var(--app-background-color);
  }
  .cls-2 {
    fill: #435655;
  }
  .cls-3 {
    fill: #a7e1ae;
  }
  .cls-4 {
    fill: #8ebe97;
  }
  .cls-5 {
    fill: #749b80;
  }
  .cls-6 {
    fill: #a7dfae;
  }
  .cls-7 {
    fill: #8cbc97;
  }
  .cls-8 {
    fill: #8cbc96;
  }
  .cls-9 {
    fill: #8ab995;
  }
  .cls-10 {
    fill: #8ab894;
  }
}

.underline {
  text-decoration: underline;
}
