// Webkit browsers
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--app-primary-color-16th-opacity);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-button {
  height: 2px;
  background-color: transparent;
}

::-webkit-scrollbar-button:hover {
  background-color: var(--app-primary-color-8th-opacity);
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

.trade {
  ::-webkit-scrollbar-thumb,
  ::-webkit-scrollbar-button {
    background-color: transparent;
  }
}
