.indexPair {
  margin-top: 2px;
}

.assetsOnly {
  margin-bottom: -1px;
}

.longShortDisplay {
  font-size: 0.75rem;
}

.shortDisplay {
  color: var(--app-error-color);
}

.noQuoteIcon {
  margin-left: -12px;
}
