.portfolioContainer {
  padding: 12px;
  width: 100%;
  height: var(--available-content-height-with-both-taskbars);
  overflow-y: auto;
}

.tileWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;
  gap: 12px;
}

.tile {
  height: 100px;
  width: 100%;
}

@media (max-width: 768px) {
  .tileWrapper {
    grid-template-columns: auto;
  }
}
