.sharePositionHeader {
  height: 42px;
  padding: 0 15px;
  border-bottom: var(--app-border-thin-light-primary-color);
}

.sharePositionWrapper {
  height: calc(var(--available-content-height-with-both-taskbars) - 52px);
}
