.walletContainer {
  height: calc(var(--available-content-height-with-bottom-taskbar-only) - 42px);
  max-width: 500px !important;
  padding-top: 10px;
  div {
    width: 100%;
  }
}

.walletHeader {
  height: 42px;
  padding: 0 15px;
  border-bottom: var(--app-border-thin-light-primary-color);
}

.identiconBorder {
  border: var(--app-border-thin-xx-light-primary-color);
}

.qrCode {
  max-height: calc(
    var(--available-content-height-with-bottom-taskbar-only) - 170px
  );
}
