.tradingModeNav {
  max-width: 500px;
  margin: 0 auto !important;
}

.tradingModeHeader {
  height: 42px;
  padding: 0 15px;
  border-bottom: var(--app-border-thin-x-light-primary-color);
}

.mobileWrapper {
  padding: 0 12px;
}
